<style>
      * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(34, 152, 241);
        background: linear-gradient(
          90deg,
          rgba(34, 152, 241, 1) 0%,
          rgba(34, 175, 241, 1) 100%
        );
      }

      input,
      button {
        font-size: 15px;
        border-radius: 10px;
        border: none;
        padding: 10px;
      }

      input {
        background-color: #65f7a7;
        color: #5c0116;
        width: 200px;
      }

      input:focus {
        outline: none;
      }

      button {
        margin-left: 10px;
        background-color: #06224a;
        color: white;
        text-transform: uppercase;
        transition: 0.3s;
      }

      button:hover {
        background-color: #010d1f;
        transition: 0.3s;
      }
 

    </style>
